<p>Your locker privileges expire on <%= @assignment.expiration_date %>. If you would like to renew your locker, please email <a href="mailto:lewislib@Princeton.edu">lewislib@Princeton.edu</a> Please remember if your status changes during the year from enrolled to on leave, in absentia or terminated, you will need to vacate your locker.</p>

<p>If you will not be renewing your locker, please let me know. I can make arrangements for your library materials to be returned.</p>

<p>Please contact me if you have any questions or problems. Thank you.</p>
 
<p>Sylvia Swain<br>
Lewis Library Coordinator<br>
609-258-3267</p>
