<% content_for :title do %>
Editing Locker Violation
<% end %>
<h1>Editing Locker Violation</h1>

<%= render 'form', locker_violation: @locker_violation %>

<%= link_to 'Show', @locker_violation %> |
<%= link_to 'Back', locker_violations_path %>
