<% content_for :title do %>
Editing Locker Assignment
<% end %>
<h1>Editing Locker Assignment</h1>

<%= render 'form', locker_assignment: @locker_assignment %>

<%= link_to 'Show', @locker_assignment %> |
<%= link_to 'Back', locker_assignments_path %>
