<% content_for :title do %>
Editing Locker Assignment
<% end %>
<h1>Editing Locker Assignment</h1>

<%= render 'form', locker_assignment: @locker_assignment %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= locker_assignment_path(@locker_assignment) %>" variation="button solid">Show</lux-hyperlink>
  <lux-hyperlink href="<%= locker_assignments_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
