<% content_for :title do %>
Editing Study Room Assignment
<% end %>
<h1>Editing Study Room Assignment</h1>

<%= render 'form', study_room_assignment: @study_room_assignment %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= study_room_assignment_path(@study_room_assignment) %>" variation="button solid">Show</lux-hyperlink>
  <lux-hyperlink href="<%= study_room_assignments_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
