<% content_for :title do %>
New Study Room Assignment
<% end %>
<h1>New Study Room Assignment</h1>

<%= render 'form', study_room_assignment: @study_room_assignment %>

<%= link_to 'Back', study_room_assignments_path %>
