<p id="notice"><%= notice %></p>

<h1>Lockers</h1>
<%= render partial: "index_view", collection: @lockers, as: :locker %>

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>

<%= link_to 'New Locker', new_locker_path %>
