<lux-wrapper>
  <%= form_with(model: locker_application, local: true) do |form| %>
    <%= form.hidden_field :user_uid , value: locker_application.uid %>
    <lux-grid-container horizontal="center" class="stretch-height">
      <lux-grid-item columns="lg-4 md-6 sm-12 auto"  vertical="center" >
        <div class="library-selection-box">
          <lux-input-select 
            label="Library"
            name="locker_application[building_id]"
            id="locker_application_building_id"
            width="expand"
            value=""
            required
            :options="<%= Building.building_choices.to_json %>"
          ></lux-input-select>
          <lux-input-button type="submit" variation="solid">Next</lux-input-button>
        </div>
      </lux-grid-item>
    </lux-grid-container>
  <% end %>
</lux-wrapper>
