<wrapper>
  <%= form_with(model: locker_application, local: true) do |form| %>
    <%= form.hidden_field :user_uid , value: locker_application.uid %>
    <grid-container horizontal="center" class="stretch-height">
      <grid-item columns="lg-4 md-6 sm-12 auto"  vertical="center" >
        <div class="library-selection-box">
          <input-select 
            label="Library"
            name="locker_application[building_id]"
            id="locker_application_building_id"
            width="expand"
            value=""
            required
            :options="<%= Building.building_choices.to_json %>"
          ></input-select>
          <input-button type="submit" variation="solid">Next</input-button>
        </div>
      </grid-item>
    </grid-container>
  <% end %>
</wrapper>
