<div>
  <%= form_with(model: locker_application, local: true) do |form| %>
    <%= form.hidden_field :user_uid , value: locker_application.uid %>
    <grid-container horizontal="center">
      <grid-item columns="lg-4 md-6 sm-12 auto" >
        <input-select 
          label="Library"
          name="locker_application[building_id]"
          id="locker_application_building_id"
          width="expand"
          value="placeholder"
          :options="<%= @locker_application.building_choices.to_json %>"
        ></input-select>
      </grid-item>
    </grid-container>
    <grid-container horizontal="center">
      <grid-item columns="lg-4 md-6 sm-12 auto">
        <input-button type="submit" variation="solid">Next</input-button>
      </grid-item>
    </grid-container>
  <% end %>
</div>
