<p id="notice"><%= notice %></p>

<card id="locker-form-header" size="full-width">
  <card-header>
    <!-- Hyperlink is the text screen readers would read, we don't want to wrap the entire card -->
    <heading level="h1" size="h3">Locker Applications</heading>
  </card-header>
</card>

<%= render partial: "index_view", collection: @locker_applications, as: :locker_application %>

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>
