<% content_for :title do %>
Editing Study Room
<% end %>
<h1>Editing Study Room</h1>

<%= render 'form', study_room: @study_room %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= study_room_path(@study_room) %>" variation="button solid">Show</lux-hyperlink>
  <lux-hyperlink href="<%= study_rooms_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
