<% content_for :title do %>
Editing Study Room
<% end %>
<h1>Editing Study Room</h1>

<%= render 'form', study_room: @study_room %>

<%= link_to 'Show', @study_room %> |
<%= link_to 'Back', study_rooms_path %>
