<%= form_with(model: scheduled_message, local: true) do |form| %>
  <% if scheduled_message.errors.any? %>
    <card id="error_explanation" size="full-width">
      <h2><%= pluralize(scheduled_message.errors.count, "error") %> prohibited this scheduled_message from being saved:</h2>

      <ul>
        <% scheduled_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </card>
  <% end %>

  <input type="hidden" id="building_id" name="building_id" value="<%= current_user.building_id %>">
  <card size="full-width">
    <grid-container>
    <grid-item columns="md-4 sm-12">
      <date-picker id="schedule" name="schedule" label="Scheduled date"
        mode="single"
        :disabled-dates="[{ start: null, end: new Date() }]">
        </date-picker>
    </grid-item>
    <grid-item columns="md-4 sm-12">
      <date-picker id="applicable_range" name="applicable_range" label="Range covered" mode="range"
        :disabled-dates="[{ start: null, end: new Date() }]">
        </date-picker>
    </grid-item>
    <grid-item columns="md-4 sm-12"></grid-item>
    </grid-container>
    <grid-container>
    <grid-item columns="lg-2 md-4 sm-12">
    <div class="actions">
      <input-button type="submit" variation="solid" block>Submit</input-button>
    </div>
    </grid-item>
    </grid-container>
  </card>

<% end %>
