<% content_for :title do %>
New Scheduled Message
<% end %>
<h1>New Scheduled Message</h1>

<%= render 'form', scheduled_message: @scheduled_message %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= scheduled_messages_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
  