// Place all the styles related to the LockerApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lux-card-content .lux-tag .lux-tag-item {
  margin: 0;
}

.lux-card {
  margin: .5rem;
}

.lux-card div.lux-flex-container {
  padding: 0 .2rem .2rem 0;
}

.lux-col {
  padding: .2rem;
}

.lux-select.search-select{
  margin-bottom: 0;
  margin-right: .2rem;
} 

.row {
  display: flex;
}

.lux-card-content.row {
  padding-bottom: 0;
}

.row.lux-select {
  padding-left: .2rem;
  padding-right: .2rem;
  label, select{
    margin-top: .5rem;
    margin-right: .5rem;
  }
}