// Place all the styles related to the LockerApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lux-card-content .lux-tag .lux-tag-item {
  margin: 0;
}

.lux-card {
  margin: .5rem;
}

.lux-card div.lux-flex-container {
  padding: 0 .2rem .2rem 0;
}

.lux-col {
  padding: .2rem;
}
