// Place all the styles related to the LockerApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locker-form .lux-col {
  padding-bottom: 1rem;
}

summary.duplicate-applications {
  text-align: right;
  margin-right: 35px;
}

.duplicate-applications-detail {
  border: $color-bleu-de-france-dark 2px solid;
  padding: 5px;
  margin-right: 35px;
}

.duplicate-email {
  padding: 5px;
  border: 1px solid;
}
