<% content_for :title do %>
Editing Study Room Violation
<% end %>
<h1>Editing Study Room Violation</h1>

<%= render 'form', study_room_violation: @study_room_violation %>

<%= render layout: '/shared/related_actions' do %>
  <lux-hyperlink href="<%= study_room_violation_path(@study_room_violation) %>" variation="button solid">Show</lux-hyperlink>
  <lux-hyperlink href="<%= study_room_violations_path %>" variation="button solid">Back</lux-hyperlink>
<% end %>
