<% content_for :title do %>
Editing Study Room Violation
<% end %>
<h1>Editing Study Room Violation</h1>

<%= render 'form', study_room_violation: @study_room_violation %>

<%= link_to 'Show', @study_room_violation %> |
<%= link_to 'Back', study_room_violations_path %>
